## Core latex/pdflatex auxiliary files:
*.aux
*.fls
*.lof
*.log
*.lot
*.out
*.toc

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg

## Build tool auxiliary files:
*.fdb_latexmk

# minitoc
*.maf
*.mtc*
*.mtc[0-9]*

# others
*.synctex.gz
*report2.sty
*.pygtex
*.pygstyle
